@model List<ASP.NET_CORE.DATA.Entities.Cart>
@{
    ViewData["Title"] = "Payment_Page";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
    var stt = 0;
    decimal total = 0;
}

@section css{
    <link rel="stylesheet" href="~/Public/User/css/productCart.css">
    <link rel="stylesheet" href="~/Public/User/css/thanhtoan.css">
}

<section>
    <div class="grid" style="border-top: 1px solid #ccc;">
        <form action="" method="POST">
            <div class="grid">
                <div class="app">
                    <div class="grid wide">
                        <div class="row">
                            <div class="col l-8" style="margin-top: 40px;">
                                <div class="col l-12">
                                    <div class="checkout-process-bar block-border">
                                        <ul>
                                            <li class="">
                                                <span>Giỏ hàng</span>
                                            </li>
                                            <li class="active"><span>Đặt hàng</span></li>
                                            <li class=""><span>Thanh toán</span></li>
                                            <li><span>Hoàn thành đơn</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col l-12" style="margin: 20px 0;">
                                    <h3 style="padding: 10px;font-family: var(--font-family-sans-serif);">Thông tin sản phẩm</h3>
                                    <div style="border: 1px solid #e7e8e9;border-radius: 32px 0px 0px;">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>STT</th>
                                                    <th>Ảnh</th>
                                                    <th>Tên</th>
                                                    <th>Size</th>
                                                    <th>Giá</th>
                                                    <th>Số lượng</th>
                                                    <th>Số tiền</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @if (Model != null && Model.Count > 0)
                                                {
                                                    foreach (var item in Model)
                                                    {

                                                        <tr>
                                                            <td>@(stt+=1) </td>
                                                            <td style="position:relative;">
                                                                <div class="cart-td_title">
                                                                    <a href="@Url.Action("Detail_Product_Page","DetailProduct")">
                                                                        <img style="cursor:pointer;" src="@item.Product.Img" alt="" class="app_cart-img">
                                                                        @if (item.Product.DetailDiscounts.Count > 0)
                                                                        {
                                                                            var a = item.Product.DetailDiscounts.Where(b => b.Discount.Status == "Đang kích hoạt").Select(b => b.Discount.Value).ToList();
                                                                            if (a.Count > 0)
                                                                            {
                                                                                <div class="home-product-item__sale-off">
                                                                                    <span class="home-product-item__percent">@a[0]%</span>
                                                                                    <span class="home-product-item__label">Giảm</span>
                                                                                </div>
                                                                            }
                                                                        }
                                                                    </a>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <span>@item.Product.Name</span>
                                                            </td>
                                                            <td>@item.Size</td>
                                                            <td>
                                                                @if (item.Product.DetailDiscounts.Count > 0)
                                                                {
                                                                    var a = item.Product.DetailDiscounts.Where(b => b.Discount.Status == "Đang kích hoạt").Select(b => b.Discount.Value).ToList();
                                                                    if (a.Count > 0)
                                                                    {
                                                                        <div class="cart-btn" id="price_Old_@item.Id">
                                                                            <span style="text-decoration: line-through;margin-bottom:10px;color:grey;opacity:0.8;">@String.Format(" {0:0,00}", item.Product.Price)</span>
                                                                        </div>
                                                                        <div class="cart-btn" id="price_Product_@item.Id">
                                                                            @{
                                                                                var price = item.Product.Price - item.Product.Price * a[0] / 100;
                                                                            }
                                                                            <span>@String.Format(" {0:0,00}", price) </span>
                                                                        </div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <div class="cart-btn" id="price_Product_@item.Id">
                                                                            <span>@String.Format(" {0:0,00}", item.Product.Price) </span>
                                                                        </div>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <div class="cart-btn" id="price_Product_@item.Id">
                                                                        <span>@String.Format(" {0:0,00}", item.Product.Price) </span>
                                                                    </div>
                                                                }
                                                            </td>
                                                            <td>
                                                                <input type="hidden" name="cartId" value="<?php echo $result_ProductCat['cartID'] ?>" />
                                                                <input style="border: none;background: none;font-family: var(--font-family-sans-serif);" type="button" name="quantity" value="@item.Quantity" width="30" />
                                                            </td>

                                                            <td>
                                                                @if (item.Product.DetailDiscounts.Count > 0)
                                                                {
                                                                    var a = item.Product.DetailDiscounts.Where(b => b.Discount.Status == "Đang kích hoạt").Select(b => b.Discount.Value).ToList();
                                                                    if (a.Count > 0)
                                                                    {
                                                                        <span class="cart-current" id="price_Old_Sum_@item.Id" style="text-decoration: line-through;margin-bottom:10px;color:grey;opacity:0.8;">
                                                                            @String.Format(" {0:0,00}", item.Price)
                                                                        </span>
                                                                        <span class="cart-current" id="price_@item.Id">
                                                                            @{
                                                                                var price = item.Price - item.Price * a[0] / 100;
                                                                                total += price;
                                                                            }
                                                                            @String.Format(" {0:0,00}", price)
                                                                        </span>
                                                                    }
                                                                    else
                                                                    {
                                                                        total += item.Price;
                                                                        <span class="cart-current" id="price_@item.Id">
                                                                            @String.Format(" {0:0,00}", item.Price)
                                                                        </span>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    total += item.Price;
                                                                    <span class="cart-current" id="price_@item.Id">
                                                                        @String.Format(" {0:0,00}", item.Price)
                                                                    </span>
                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                                <div class="col l-12" style="margin: 20px 0;">
                                    <h3 style="padding: 10px;font-family: var(--font-family-sans-serif);">Địa chỉ giao hàng</h3>
                                    <div style="border: 1px solid #e7e8e9;border-radius: 32px 0px 0px;">
                                        <table>
                                            <tbody>
                                                <tr style="line-height:50px;">
                                                    <td>Tên: </td>
                                                    <td>@ViewBag.name</td>
                                                </tr>
                                                <tr style="line-height:50px;">
                                                    <td>Email: </td>
                                                    <td>@ViewBag.email</td>
                                                </tr>
                                                <tr style="line-height:50px;">
                                                    <td>SĐT: </td>
                                                    <td>@ViewBag.sdt</td>
                                                </tr>
                                                <tr style="line-height:50px;">
                                                    <td>Address: </td>
                                                    <input type="hidden" id="address" value="@ViewBag.address" />
                                                    <input type="hidden" id ="total" value="@ViewBag.endPrice" />
                                                    <input type="hidden" id="idClient" value="@Model[0].ClientId" />
                                                    <td>@ViewBag.address</td>
                                                </tr>
                                                <tr style="line-height:50px;">
                                                    <td colspan="2" style="cursor:pointer;"><a href="@Url.Action("Account_Index","Account")" style="text-decoration:none;color:black; ">Chỉnh sửa thông tin</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>

                            </div>
                            <div class="col l-4">
                                <div class="cart-voucher">
                                    <h3>Tóm tắt đơn hàng</h3>

                                    <div style="display: flex;justify-content: space-between; margin: 20px 0;">
                                        <span class="voucher-title">
                                            <span>Tổng sản phẩm</span>

                                        </span>
                                        <span class="sum-product">
                                            @Model.Count
                                        </span>
                                    </div>
                                    <div style="display: flex;justify-content: space-between; margin: 20px 0;">
                                        <div class="voucher-title">
                                            <span>Tổng tiền hàng</span>
                                        </div>
                                        <span class="sum-product" id="root" style="text-decoration: line-through;margin-bottom:10px;color:grey;opacity:0.8;">
                                            @if (Model != null)
                                            {
                                                @String.Format(" {0:0,00}", ViewBag.total)
                                            }
                                        </span><p class="sum-product">VND</p>
                                    </div>
                                    <div class="cart-purchase">
                                        <span class="sum-product">Thành tiền</span>
                                        <span class="sum-product" style="font-weight: 800;" id="sum_Price">
                                            @if (Model != null)
                                            {
                                                @String.Format(" {0:0,00}", total)
                                            }
                                        </span><p class="sum-product">VND</p>
                                    </div>
                                    <div class="cart-purchase-button">
                                        <p class="btn"><a href="#" id="btn_order" onclick="swal_sells()">Xác nhận đặt hàng</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<script>function swal_sells() {
        var address = document.getElementById("address").value
        var total = document.getElementById("root").textContent
        var idClient = document.getElementById("idClient").value
        var sum_Price = document.getElementById("sum_Price").innerHTML
 
        Swal.fire({
        title: 'Bạn chắc chắn muốn đặt hàng???',
            icon: 'info',
                showCancelButton: true,
                    confirmButtonText: 'Yes',
                        }).then((result) => {
                        if (result.isConfirmed) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Congratulation!!!!',
                                text: 'Bạn đã đặt hàng thành công',
                            })
                            $.ajax({
                                url: '/User/Order/Add_Order',
                                type: 'POST',
                                data: {
                                    address: address,
                                    total: total,
                                    sum_Price : sum_Price,
                                    idClient: idClient
                                },
                                success: function (rs) {
                                    if (rs.success)
                                        location.href = "/User/Order/Order_Manage/";
                                }
                            })
                        }
                    })
    }</script>

