@model List<ASP.NET_CORE.DATA.Entities.Product>
@using ASP.NET_CORE.Models
@using ASP.NET_CORE.DATA.Entities
@{
	ViewData["Title"] = "Search_Page";
	Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";

	List<String> list = new List<String>() { "Quần áo nam", "Quần áo nữ", "Quần áo trẻ em" };

	Pager pager = new Pager();

	int page_No = 0;
	if (ViewBag.pager != null)
	{
		pager = ViewBag.pager;
		page_No = pager.Current_Page;
	}

	var i = (pager.Current_Page - 1) * pager.Page_Size;

	

}

@section css{
	<link rel="stylesheet" type="text/css" href="~/Public/User/css/timkiemnangcao.css">
	<link rel="stylesheet" type="text/css" href="~/Public/User/css/Pagination.css">
	<style>
		.home-product-item__favourite{
			position: absolute;
			top:10px;
			left:-4px;
			color:white;
			font-size:1.2rem;
			background-color: red;
			font-weight:500;
			padding:0 5px;
			line-height: 1.6rem;
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
		}

		.home-product-item__favourite::after{
			content:"";
			position: absolute;
			left:0;
			bottom:-8px;
			border-top:8px solid red;
			border-left: 8px solid transparent;
			filter: brightness(60%);
		}

		.home-product-item__favourite i{
			font-size:0.9rem;
			margin: 0 3px 0 5px;
		}

		.home-product-item__sale-off{
			position:absolute;
			right:0;
			top:0;
			padding:8px 2px 8px 2px;
			width:54px;
			height:60px;
			text-align:center;
			background-color: rgba(255,216,64,0.94);
		}

		.home-product-item__sale-off::after{
			content:"";
			position: absolute;
			left:0;
			bottom:-6px;
			border-width:0 27px 6px;
			border-style:solid;
			border-color: transparent rgba(255,216,64,0.94) transparent rgba(255,216,64,0.94);
		}

		.home-product-item__percent{
			color: #EE4D2D;
			font-weight:600;
			font-size:1.2rem;
			line-height:1.2rem;
			top:-1px;
			position:relative;
		}

		.home-product-item__label{
			font-size:1.3rem;
			line-height:1.3rem;
			color:white;
			position:relative;
		}
	</style>

}

<section>
    <div class="app_search">
		<div class="pc">
			<div class="grid wide">
				<div class="row">
					<div class="col l-3">
							@using (Html.BeginForm("Search_Page", "SearchProduct", FormMethod.Get, new { })){
								<div id="" class="tim-kiem-nang-cao">
									<div class="boloc-top">
										<i class="icon-boloc ti-menu-alt"></i>
										<span>BỘ LỌC TÌM KIẾM</span>
									</div>
									<input type="text" style="width:100%;" name="search" class="header__search-input" id="search" placeholder="Tìm kiếm sản phẩm..." value="@ViewBag.search">
									<div class="khoanggia">
										<h4 class="h4">Theo khoảng giá</h4>
										<div style="display: flex;align-items: center;justify-content: space-around;">
											<input id="slider_pr" type="range" name="price" min="0" max="2000000">
											<span id="max" style="font-family: var(--font-family-sans-serif);"></span>
										</div>
									</div>
									<!--  -->
									<div class="dmuc">
										<h4 class="h4">Theo danh mục</h4>
										<ul class="danhmuc" style="margin-left:20px;">
											@foreach (var item in ViewBag.list_Category)
											{
												<li>
												@if (ViewBag.category_Id != null)
												{
													if (ViewBag.category_Id.Contains(item.Id.ToString()))
													{
														<input type="checkbox" name="category_Id" value="@item.Id" checked="checked" />
													}
													else
													{
														<input type="checkbox" name="category_Id" value="@item.Id" />
													}
												}
												else
												{
													<input type="checkbox" name="category_Id" value="@item.Id" />
												}
													<label>@item.Name</label><br>
												</li>
											}
										</ul>
									</div>

									<div class="dmuc">
										<h4 class="h4">Loại</h4>
										<ul class="danhmuc" style="margin-left:20px;">
											@foreach (var item in list)
											{
											<li>
												@if(ViewBag.type!=null){
													if (ViewBag.type.Contains(item))
													{
														<input type="checkbox" name="type" value="@item" checked="checked" />
													}
													else
													{
														<input type="checkbox" name="type" value="@item" />
													}
												}else{
													<input type="checkbox" name="type" value="@item" />
												}
													<label>@item</label><br>
												</li>
											}
										</ul>
									</div>

									<div style="width: 100%; text-align: center;">
										<input class="tim-kiem-nang-cao-input" type="button" onclick="sort_sp(1)" value="Tìm kiếm" />
									</div>
								</div>
						}
						</div>
						<div id="searchResults" class="col l-9">
							<div class="home-filter">
								<span class="home-filter__label">Sắp xếp theo</span>
								<form action="" method="GET">
									<div class="sort_price" style="display: flex;">										
										<select id="sort" class="select-input" name="sort" onchange="sort_sp(1)">																			
												@if(ViewBag.sort != null){
													if(ViewBag.sort.Equals("up")){										
														<option value="up">Giá từ thấp đến cao</option>																		
														<option value="down">Giá từ cao đến thấp</option>
													}else if(ViewBag.sort.Equals("down")){
														<option value="down">Giá từ cao đến thấp</option>																		
														<option value="up">Giá từ thấp đến cao</option>
													}
												}else{
													<option>Lựa chọn theo giá</option>											
													<option value="up">Giá từ thấp đến cao</option>																		
													<option value="down">Giá từ cao đến thấp</option>
												}
										</select>
									</div>
								</form>
							</div>
							<!-- Phổ biến -->
							<div id="trend" class="home-suggestion">
									<!-- Tìm kiếm nâng cao -->
								<div class="row">
									@if(Model.Count > 0){
										foreach (var item in Model)
										{
												<div class="col l-4">
													<a href="@Url.Action("Detail_Product_Page","DetailProduct", new {id = item.Id})">
														<div class="home-product-item">
															<img src="@item.Img" onmouseover = "overing(@item.Id,this)" onmouseout="outing(@item.Id,this)" class="home-product-item_img">
															<div class="home-product-item__favourite">
																<i class="fas fa-check"></i>
																Yêu thích
																<span></span>
															</div>
													<div class="home-product-item__sale-off">
														<span class="home-product-item__percent">10%</span>
														<span class="home-product-item__label">Giảm</span>
													</div>
															<span class="home-product-item_name">@item.Name</span>
															<div class="home-product-item_price">
																<span class="home-product-item_price">@String.Format(" {0:0,00}", @item.Price) VND</span>
															</div>
														</div>
													</a>
												</div>
										}
									}else{
										<span style="margin:50px auto;font-size:20px;">No product found</span>
									}
								</div>
							<div class="row" style="margin-left:35%;margin-top:50px;">
								<div>
									@if (pager.Total_Page > 0)
									{
										<ul class="pagination justify-content-end">
											@if (pager.Current_Page > 1)
											{
												<li class="page-item">
													<a class="page-link" href="#" onclick="sort_sp(1)">First</a>
												</li>
												<li class="page-item">
													<a class="page-link" href="#" onclick="sort_sp(@pager.Current_Page-1)">&lt;&lt;</a>
												</li>
											}

											@for (var p = pager.Current_Page - 1; p <= pager.Current_Page + 1; p++)
											{
												if (p != 0)
												{
													<li class="page-item @(p == pager.Current_Page ? "active" : "")">
														<a class="page-link" href="#" onclick="sort_sp(@p)">@p</a>
													</li>
													if (p == pager.End_Page) break;
												}
											}

											@if (pager.Current_Page < pager.Total_Page)
											{
												<li class="page-item">
													<a class="page-link" href="#" onclick="sort_sp(@pager.Current_Page+1)">>></a>
												</li>
												<li class="page-item">
													<a class="page-link" href="#" onclick="sort_sp(@pager.Total_Page)">Last</a>
												</li>
											}
										</ul>
									}
								</div>
							</div>
							</div>
						</div>
				</div>
			</div>
		</div>
	</div>
</section>

@section script{
	<script src="{{asset('public/user/js/product.js')}}"></script>
	<script>

		//Hover
		function overing(id, element){
			$.ajax({
				url: '/User/SearchProduct/Get_Img',
				type: 'POST',
				data: { id: id },
				success: function (rs) {
					if (rs.success)
						element.src = rs.url
				}
			})
		}

		function outing(id, element){
			$.ajax({
				url: '/User/SearchProduct/Get_Main_Img',
				type: 'POST',
				data: { id: id },
				success: function (rs) {
					if (rs.success)
						element.src = rs.url
				}
			})
		}


		// thanh trượt giá
		var output = document.getElementById("max");
		const rangeInput = document.getElementById("slider_pr");
		rangeInput.addEventListener("input", updateValue);

		function updateValue() {
			const money = parseInt(rangeInput.value);
			const formatted = money.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
			output.innerHTML = formatted;
		}

		//tra data cho thanh truot
		function load_data() {
			var input = document.getElementById("slider_pr");
					input.value = @(ViewBag.price)
				document.getElementById("max").innerHTML = parseInt(input.value).toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
		}
		load_data();

		function sort_sp(page){
			var category_Id = document.querySelectorAll('input[type=checkbox][name="category_Id"]');
			var sort = document.getElementById("sort").value;
			var search = document.getElementById('search').value
			var type = document.querySelectorAll('input[type=checkbox][name="type"]')
			var price = document.getElementById('slider_pr').value

			var list_Category = "";
			for (var i = 0; i < category_Id.length; i++) {
				if (category_Id[i].checked) {
					list_Category += "category_Id="+category_Id[i].value+"&";
				}
			}

			var list_Type = "";
			for (var i = 0; i < type.length; i++) {
				if (type[i].checked) {
					list_Type += "type=" + type[i].value + "&";
				}
			}

			location.href = "/User/SearchProduct/Search_Page?search=" + search+ "&page="+page+"&sort="+sort+"&price=" + price + "&" + list_Type + "&" + list_Category;
		}
	</script>
}