@model ASP.NET_CORE.DATA.Entities.Product

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Product_Create", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <section class="recent">
                <div class="activity-grid">
                    <div class="activity-card">
                        <div class="activity-header">
                            <h3>Thêm sản phẩm</h3>
                            <div class="activity-more">
                                <span class="ti-back-left"></span>&nbsp;
                                <a href="@Url.Action("Product_List","Product")" class="add">Quay lại</a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header p-2">
                                <ul class="nav nav-pills">
                                    <li class="nav-item"><a class="nav-link active " href="#activity" data-toggle="tab">Thông tin</a></li>
                                    <li class="nav-item"><a class="nav-link " href="#timeline" data-toggle="tab">Ảnh</a></li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="active tab-pane" id="activity">
                                        <table class="form">
                                            <tr>
                                                <td class="form_title">
                                                    <label>Nhập tên</label>
                                                </td>
                                                <td>
                                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "medium", @placeholder = "Nhập tên sản phẩm" } })
                                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                                </td>
                                            </tr>
                                            <tr style="border:none;">
                                                <td class="form_title">
                                                    <label>Số lượng tổng</label>
                                                </td>
                                                <td>
                                                    <input type="text" id="total" value="0" class="medium  product" readonly />
                                                </td>
                                            </tr>
                                            <tr style="border:none;">
                                                <td class="form_title">
                                                    <label>Size S</label>
                                                </td>
                                                <td>
                                                @Html.EditorFor(model => model.QuantityS, new { htmlAttributes = new { @class = "medium", @placeholder = "Nhập số lượng", @value = "0" } })
                                                @Html.ValidationMessageFor(model => model.QuantityS, "", new { @class = "text-danger" })
                                                </td>
                                            </tr>
                                            <tr style="border:none;">
                                                <td class="form_title">
                                                    <label>Size M</label>
                                                </td>
                                                <td>
                                                @Html.EditorFor(model => model.QuantityM, new { htmlAttributes = new { @class = "medium", @placeholder = "Nhập số lượng", @value = "0" } })
                                                @Html.ValidationMessageFor(model => model.QuantityM, "", new { @class = "text-danger" })
                                                </td>
                                            </tr>
                                            <tr style="border:none;">
                                                <td class="form_title">
                                                    <label>Size L</label>
                                                </td>
                                                <td>
                                                @Html.EditorFor(model => model.QuantityL, new { htmlAttributes = new { @class = "medium", @placeholder = "Nhập số lượng", @value = "0" } })
                                                @Html.ValidationMessageFor(model => model.QuantityL, "", new { @class = "text-danger" })
                                            </tr>
                                            <tr>
                                                <td class="form_title">
                                                    <label>Size XL</label>
                                                </td>
                                                <td>
                                                @Html.EditorFor(model => model.QuantityXl, new { htmlAttributes = new { @class = "medium", @placeholder = "Nhập số lượng", @value = "0" } })
                                                @Html.ValidationMessageFor(model => model.QuantityXl, "", new { @class = "text-danger" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="form_title">
                                                    <label>Danh mục sản phẩm</label>
                                                </td>
                                                <td>
                                                @Html.DropDownListFor(model => model.Category_ID, ViewBag.category_Id as SelectList, "Chọn danh mục")
                                                @Html.ValidationMessageFor(model => model.Category_ID, "", new { @class = "text-danger" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="form_title" style="vertical-align: top; padding-top: 9px;">
                                                    <label>Mô tả sản phẩm</label>
                                                </td>
                                                <td>
                                                @Html.TextAreaFor(model => model.Description, htmlAttributes: new { @class = "tinymce", rows = "9", cols = "70" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="form_title">
                                                    <label>Giá sản phẩm</label>
                                                </td>
                                                <td>
                                                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "medium", placeholder = "Nhập giá" } })
                                                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="form_title">
                                                    <label>Kiểu sản phẩm</label>
                                                </td>
                                                <td>
                                                @Html.DropDownListFor(model => model.Type, new List<SelectListItem>()
                                           {
                                               new SelectListItem(){ Text ="Quần áo nam", Value ="Quần áo nam"},
                                               new SelectListItem(){ Text ="Quần áo nữ", Value ="Quần áo nữ"},
                                               new SelectListItem(){ Text ="Quần áo trẻ em", Value ="Quần áo trẻ em"}
                                           }, "Chọn kiểu sản phẩm")
                                                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="form_title">
                                                    <label>Ảnh đại diện</label>
                                                </td>
                                                <td>
                                                    <img style="margin:20px;" width="150" src="" id="myImage" />

                                                    <input type="file" name="Image" class="btn btn-primary" accept="image/*" id="myFileInput" onchange="previewImage()">
                                                    @Html.ValidationMessage("Image", "", new { @class = "text-danger" })
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="form_title"><label>Trạng thái</label></td>
                                                <td>
                                                @Html.DropDownListFor(model => model.Status, new List<SelectListItem>()
                                                   {
                                                       new SelectListItem(){ Text ="Ẩn", Value ="0"},
                                                       new SelectListItem(){ Text ="Hiện", Value ="1"}
                                                   }, "Trạng thái")
                                                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                                    <input type="hidden" name="img" value="null" />
                                                </td>
                                            </tr>
                                        </table>
                                    </div>

                                    <div class="tab-pane" id="timeline">
                                        <!-- The timeline -->
                                        <div class="timeline timeline-inverse">
                                            <div class="row">
                                                <div class="col-md-12 text-right">
                                                    <input type="file"  class="btn btn-primary" value="Tải ảnh" id="upload" multiple />
                                                </div>
                                                <div class="col-md-12">
                                                    <table class="table table-hover" id="tb_Img">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-center">#</th>
                                                                <th class="text-center">Ảnh</th>
                                                                <th class="text-center">Ảnh chính</th>
                                                                <th class="text-center">Xóa</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tbHtml">
                                                            <!--Render data at js-->
                                                        </tbody>
                                                    </table>

                                                    <input type="hidden" id="CurrentId" value="0" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table class="form">
                                <tr>
                                    <td>
                                        <input type="hidden" value="abc" name="file" />
                                        <input type="submit" name="submit" Value="Save" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
}
@section scripts{
        <script src="~/Public/Admin/js/Product_Controller.js"></script>
}

