@model IEnumerable<ASP.NET_CORE.DATA.Entities.Product>
@using ASP.NET_CORE.Models
@using ASP.NET_CORE.DATA.Entities

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    Pager pager = new Pager();

    int page_No = 0;
    if(ViewBag.pager != null)
    {
        pager = ViewBag.pager;
        page_No = pager.Current_Page;
    }

    var i = (pager.Current_Page - 1) * pager.Page_Size;
    var btn = "";
    var icon = "";
}

@section css{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
}

<section class="recent">
    <div class="activity-grid">
        <div class="activity-card">
            <div class="activity-header">
                <h3>Danh sách sản phẩm</h3>
            </div>
            <div class="activity-header row">
                @using (Html.BeginForm("Product_List", "Product", FormMethod.Get, new { }))
                {
                    <spand style="margin-left:20px;" class="input-group input-group-sm">
                        @Html.Editor("search", new { htmlAttributes = new { @placeholder = "Search", @class = "form-control" } })
                        <spand class="input-group-append">
                            <button type="submit" class="btn btn-info btn-flat">Tìm kiếm</button>
                        </spand>
                    </spand>
                }


                <spand class="activity-more col-3 right">
                    <span class="ti-plus"></span>&nbsp;
                    <a href="@Url.Action("Product_Create","Product", new {page = pager.Current_Page, search = ViewBag.search})" class="add">Thêm danh mục</a>
                </spand>
            </div>
            <div class="table-responsive">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Tên</th>
                            <th>Ảnh</th>
                            <th>SL S</th>
                            <th>SL M</th>
                            <th>SL L</th>
                            <th>SL XL</th>
                            <th>Giá</th>
                            <th>Danh mục</th>
                            <th>Kiểu</th>
                            <th>Trạng thái</th>
                            <th>Chi tiết</th>
                            <th>Xóa</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        @foreach (ASP.NET_CORE.DATA.Entities.Product item in Model)
                        {
                            if (item.Status == 1)
                            {
                                btn = "btn btn-sm btn-success";
                                icon = "fas fa-toggle-on";
                            }
                            else
                            {
                                btn = "btn btn-sm btn-danger";
                                icon = "fas fa-toggle-off";
                            }
                                <tr>
                                    <td>@(++i)</td>
                                    <td>@item.Name</td>
                                    <td><img src="@item.Img" data-id="@item.Id" style="width: 50px; height: 50px;" class="img" /></td>
                                    <td>@item.QuantityS</td>
                                    <td>@item.QuantityM</td>
                                    <td>@item.QuantityL</td>
                                    <td>@item.QuantityXl</td>
                                    <td>@String.Format(" {0:0,00}", @item.Price)</td>
                                    <td>@item.Category.Name</td>
                                    <td>@item.Type</td>
                                    <td><a href="@Url.Action("Product_Status","Product", new {id = item.Id, page = pager.Current_Page, search = ViewBag.search})" class="@btn"><i class="@icon"></i></a></td>
                                    <td>
                                    <a href="@Url.Action("Product_Edit","Product", new {id = item.Id, page = pager.Current_Page, search = ViewBag.search})" class="btn btn-sm btn-info"><i class="fas fa-eye"></i></a>
                                    </td>
                                    <td>
                                        @{
                                            string s = "Product_Delete/" + item.Id + "?page=" + pager.Current_Page + "&search=" + ViewBag.search;
                                        }
                                        <input type="hidden" id="@item.Id" value="@s" />
                                        <span onclick="delete_Item(@item.Id)" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></span>
                                    </td>
                                </tr>
                        }
                    </tbody>
                </table>
                <div class="row" style="margin-left:35%;margin-top:10px;">
                    <div>
                        @if (pager.Total_Page > 0)
                        {
                            <ul class="pagination justify-content-end">
                                @if (pager.Current_Page > 1)
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="@Url.Action("Product_List","Product", new {page = 1, search = ViewBag.search})">First</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="@Url.Action("Product_List","Product", new {page = pager.Current_Page - 1, search = ViewBag.search})">&lt;&lt;</a>
                                    </li>
                                }

                                @for (var p = pager.Current_Page -1; p <= pager.Current_Page+1; p++)
                                {
                                    if(p != 0){
                                        <li class="page-item @(p == pager.Current_Page ? "active" : "")">
                                            <a class="page-link" href="@Url.Action("Product_List","Product", new {page = p, search = ViewBag.search})">@p</a>
                                        </li>
                                        if (p == pager.End_Page) break;
                                    }
                                }

                                @if (pager.Current_Page < pager.Total_Page)
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="@Url.Action("Product_List","Product", new {page = pager.Current_Page + 1, search = ViewBag.search})">>></a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="@Url.Action("Product_List","Product", new {page = pager.Total_Page, search = ViewBag.search})">Last</a>
                                    </li>
                                }
                            </ul>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="dialog">
        <iframe id="myIframe" style="border:0; width:100%;height:100%;"></iframe>
    </div>
</section>
@section scripts{
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
        <script>
            $('body').on('click',".img", function(){
                var id = $(this).attr("data-id")
                $("#dialog #myIframe").attr("src", "Edit_Img_Product/"+ id)
                $("#dialog").dialog('open')
                return false;
            })

            $("#dialog").dialog({
                autoOpen: false,
                show: "fade",
                hide: "fade",
                modal: true,
                height: '460',
                width: '700',
                resizable: true,
                title: "Quản lý ảnh",
                close: function(){
                    window.location.reload()
                }
            })

            function delete_Item(id) {
                var s = $("#" + id).val()
                Swal.fire({
                    title: 'Do you want to delete?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes',
                }).then((result) => {
                    if (result.isConfirmed) {
                        location.href = s
                    }
                })
            }
        </script>
}