@model ASP.NET_CORE.DATA.Entities.Client
@{
    ViewData["Title"] = "Account_Index";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

@section css{
    <link rel="stylesheet" href="~/Public/User/css/account.css">
}
@using (Html.BeginForm("Account_Index", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <section>
        <div class="content">
            <div class="grid wide" style="border-top: 1px solid #ccc;">
                <div class="account-body">
                    <div class="row">
                        <div class="col l-3  underline">
                            <div class="category-all">
                                <ul>
                                    <li style="display: flex;
                                align-items: center;
                                justify-content: center;
                                padding: 10px;
                                border-bottom: 1px solid #ccc;">
                                        <span class="ti-user" style="padding: 10px;border: 1px solid;border-radius: 50%;"></span>
                                        <a href="" style="text-decoration: none;padding: 0 10px;font-family: var(--font-family-monospace); color: black;
                                font-weight: bold"> @Model.Account</a>
                            </li>



                            <li class="category">
                                <span class="ti-user"></span>
                                <a href=""> Thông tin tài khoản</a>
                            </li>
                            <li class="category">
                                <span class="ti-comments"></span>
                                <a href=""> Thông báo của tôi</a>
                            </li>
                            <li class="category">
                                <span class="ti-printer"></span>
                                <a href="@Url.Action("Order_Manage", "Order")"> Quản lý đơn hàng</a>
                            </li>
                            <li class="category">
                                <span class="ti-location-pin"></span>
                                <a href=""> Số địa chỉ</a>
                            </li>
                            <li class="category">
                                <span class="ti-envelope"></span>
                                <a href=""> Thông tin thanh toán</a>
                            </li>
                            <li class="category">
                                <span class="ti-write"></span>
                                <a href=""> Nhận xét sản phẩm đã mua</a>
                            </li>
                            <li class="category">
                                <span class="ti-ink-pen"></span>
                                <a href=""> Sản phẩm đã xem</a>
                            </li>
                            <li class="category">
                                <span class="ti-ink-pen"></span>
                                <a href=""> Sản phẩm yêu thích</a>
                            </li>
                            <li class="category">
                                <span class="ti-shopping-cart-full"></span>
                                <a href=""> Sản phẩm mua sau</a>
                            </li>
                            <li class="category">
                                <span class="ti-star"></span>
                                <a href=""> Nhận xét của tôi</a>
                            </li>
                            <li class="category">
                                <span class="ti-ticket"></span>
                                <a href=""> Mã giảm giá</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col m-12 l-9">
                    <div class="account-me">
                        <div class="row">
                            <div class="col l-7 m-12 underline">
                                <div class="account-tt">
                                    <span class="account-title">Thông tin cá nhân</span>
                                </div>

                                <div class="information">
                                            @Html.TextBoxFor(temp => temp.Account, new { @value = @Model.Account, @readonly = "readonly", @style = "color: gray",@type = "hidden" })
                                            @Html.TextBoxFor(temp => temp.Password, new { @value = @Model.Password, @type = "hidden" })
                                    <div class="information-name">
                                        <label>Họ & Tên</label>

                                        @Html.TextBoxFor(temp => temp.Name, new { @value = @Model.Name })
                                    </div>
                                    @Html.ValidationMessageFor(temp => temp.Name, "", new { @class = "text-danger", style = "color:red;" })
                                    <div class="information-name">
                                        <label>Số điện thoại</label>

                                        @Html.TextBoxFor(temp => temp.Sdt, new { @value = @Model.Sdt })
                                    </div>
                                    @Html.ValidationMessageFor(temp => temp.Sdt, "", new { @class = "text-danger", style = "color:red;" })
                                    <div class="information-name">
                                        <label>Email</label>

                                        @Html.TextBoxFor(temp => temp.Email, new { @value = @Model.Email })
                                    </div>
                                    @Html.ValidationMessageFor(temp => temp.Email, "", new { @class = "text-danger", style = "color:red;" })
                                    <div class="information-name">
                                        <label>Địa chỉ</label>

                                        @Html.TextBoxFor(temp => temp.Address, new { @value = @Model.Address })
                                    </div>
                                    @Html.ValidationMessageFor(temp => temp.Address, "", new { @class = "text-danger", style = "color:red;" })
                                    <div class="information-sex">
                                        <label>Giới tính</label>
                                        <input type="radio" name="sex" id="Boy" value="1" @((Model.Sex == 1) ? " checked" : "true")>
                                        <label for="Nam">Nam</label>
                                        <input type="radio" name="sex" id="Girl" value="2" @((Model.Sex == 2) ? " checked" : "true")>
                                        <label for="Nu">Nữ</label>
                                    </div>
                                    <div style="text-align: center;margin: 15px;">

                                    </div>

                                    <div class="infotmation-save">
                                        <input type="submit" name="save" value="Lưu thay đổi">
                                    </div>


                                    <!-- <div class="">
                                        <a class="back-history" href="javascript:window.history.back();">
                                            <span class="ti-arrow-left" style="padding: 0 10px;">

                                            </span>

                                        </a>
                                    </div> -->
                                </div>
                            </div>
                            <div class="col l-5">
                                <div class="form-upload__img">
                                    <input type="file" name="user_name">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
}

