@using ASP.NET_CORE.DATA.Entities
@using ASP.NET_CORE.Models
@model List<ASP.NET_CORE.DATA.Entities.Order>
@{
    ViewData["Title"] = "Order_Manage";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section css{
    <link rel="stylesheet" href="~/Public/Admin/css/donhang1.css">
}

<section>
            <div class="activity-grid">
                <div class="activity-card">
                        <div class="activity-select">
                            <div class="activity-selec-1">
                                <select name="" id="">
                                    <option value="C1">Sắp xếp theo khoảng thời gian</option>
                                    <option value="C1">Ban đầu</option>
                                    <option value="C1">Gần đây nhất</option>
                                </select>
                            </div>
                            <div class="activity-selec-2">
                                <select name="" id="">
                                    <option value="C1">Sắp xếp theo giá tiền</option>
                                    <option value="C1">Từ thấp đến cao</option>
                                    <option value="C1">Từ cao đến thấp</option>
                                </select>
                            </div>
                        </div>

                        <ul style="display:flex;">
                                <li class="QLdonhang">Chờ xác nhận</li>
                                <li class="QLdonhang">Đang giao</li>
                                <li class="QLdonhang">Đã giao</li>
                                <li class="QLdonhang">Đã hủy</li>
                        </ul>

                    <div class="table-responsive">
                    <table class="table table_0">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Tên khách hàng</th>
                                    <th>Tài khoản</th>
                                    <th style="width:500px;">Xem chi tiết</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Count >0){
                                    var stt = 0;
                                    var b = Model.Where(a => a.Status == 0).Select(a => new Account{Username = a.Client.Account, Name = a.Client.Name, Id = a.ClientId}).DistinctBy(a => a.Username).ToList();
                                    foreach (var item in b)
                                    {
                                        <tr>
                                            <td>@(stt +=1)</td>
                                            <td>@item.Name</td>
                                            <td>
                                                @item.Username
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Order_Detail","Order",new {clientId = item.Id, status = 0, account = item.Username, name = item.Name})">Xem chi tiết</a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>

                        <table class="table table_1">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Tên khách hàng</th>
                                    <th>Tài khoản</th>
                                    <th style="width:500px;">Xem chi tiết</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Count >0){
                                    var stt = 0;
                                    var b = Model.Where(a => a.Status == 1).Select(a => new Account{Username = a.Client.Account, Name = a.Client.Name, Id = a.ClientId}).DistinctBy(a => a.Username).ToList();
                                    foreach (var item in b)
                                    {
                                        <tr>
                                            <td>@(stt +=1)</td>
                                            <td>@item.Name</td>
                                            <td>
                                                @item.Username
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Order_Detail","Order",new {clientId = item.Id, status = 1, account = item.Username, name = item.Name})">Xem chi tiết</a>
                                            </td>
                                        </tr>
                                    }
                                }
                                </tbody>
                        </table>

                        <table class="table table_2">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Tên khách hàng</th>
                                    <th>Tài khoản</th>
                                    <th style="width:500px;">Xem chi tiết</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Count >0){
                                    var stt = 0;
                                    var b = Model.Where(a => a.Status == 2).Select(a => new Account{Username = a.Client.Account, Name = a.Client.Name, Id = a.ClientId}).DistinctBy(a => a.Username).ToList();
                                    foreach (var item in b)
                                    {
                                        <tr>
                                            <td>@(stt +=1)</td>
                                            <td>@item.Name</td>
                                            <td>
                                                @item.Username
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Order_Detail","Order",new {clientId = item.Id, status = 2, account = item.Username, name = item.Name})">Xem chi tiết</a>
                                            </td>
                                        </tr>
                                    }
                                }
                                </tbody>
                        </table>

                        <table class="table table_4">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Tên khách hàng</th>
                                    <th>Tài khoản</th>
                                    <th style="width:450px;">Xem chi tiết</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Count >0){
                                    var stt = 0;
                                    var b = Model.Where(a => a.Status == -1).Select(a => new Account{Username = a.Client.Account, Name = a.Client.Name, Id = a.ClientId}).DistinctBy(a => a.Username).ToList();
                                    foreach (var item in b)
                                    {
                                        <tr>
                                            <td>@(stt +=1)</td>
                                            <td>@item.Name</td>
                                            <td>
                                                @item.Username
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Order_Detail","Order",new {clientId = item.Id, status = -1, account = item.Username, name = item.Name})">Xem chi tiết</a>
                                            </td>
                                        </tr>
                                    }
                                }
                                </tbody>
                        </table>
                    </div>
                </div>
            </div>
</section>

@section scripts{
    <script src="~/Public/Admin/js/donhang.js"></script>
}

